[log]
	date = iso
[user]
	name = khpark0203
	email = khpark0203@gmail.com
[credentail]
	helper = store
[diff]
    tool = default-difftool
[difftool "default-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE
[credential]
	helper = store
[fetch]
	prune = true
[pull]
	rebase = false
[alias]
	l = log --abbrev-commit
	b = branch
	s = status
	ch = checkout
	ck = checkout
	ls-files = ls-files
